.wrapper {
  display: grid;
  grid-template-columns: auto 1fr 2fr;
  gap: 30px;
  /* grid-auto-rows: minmax(100px, auto); */
}
.one {
  grid-column: 1;
  grid-row: 1 / 4;
}
.two-row-one {
  grid-column: 2;
  grid-row: 1;
}
.two-row-two {
  grid-column: 2;
  grid-row: 2;
}
.two-row-three {
  grid-column: 2;
  grid-row: 3;
}
.three {
  grid-column: 3;
  grid-row: 1 / 5;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 40px;
}

.range-slider .input-range {
  -webkit-appearance: none;
  height: 200px;
  border-radius: 5px;
  background: #fee6e3;
  outline: none;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
}

.input-range:disabled {
  opacity: 40%;
}

::-moz-range-track {
  background: #fee6e3;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}

.progress-container {
  width: 200px;
  height: 210px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  /* margin: 50px auto; */
  text-align: center;
  border: 2px solid white;
}

.progress-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #111;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.large-font {
  font-size: 26px;
}

.normal-font {
  font-size: 16px;
}

.button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  width: 120px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:enabled:active {
  background-color: #ffdeda;
  outline: 0;
}

.button:disabled {
  outline: 0;
  opacity: 40%;
}

.button:disabled:after {
  opacity: 0;
  transform: translate(0, 0);
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}
